[submodule ".zim"]
	path = .zim
	url = git@github.com:Eriner/zim.git
[submodule "janus/badwolf"]
	path = janus/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "janus/lightline.vim"]
	path = janus/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
